<app-menu-title></app-menu-title>
<div class="articles__container">
  <div class="articles__main">
    <app-big-card
    id="1"
    photoCover="https://imgs.search.brave.com/jv9t2kGDYPy4b7pHpiOl7BAy3LBVC-ENKI8xH8KzRrI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy8w/LzA3L0FuZ3VsYXJf/TG9nb19TVkcuc3Zn"
    cardTitle="Nova versao do angular estar disponivel"
    cardDescription="A nova versão do Angular trouxe melhorias significativas, incluindo performance otimizada e integração com ferramentas modernas de build. Atualizações na API de componentes facilitam a criação de interfaces complexas, e a experiência do desenvolvedor foi aprimorada com novas ferramentas de debugging e documentação mais acessível."></app-big-card>
  </div>
  <div class="articles__outher">
    <app-small-card
    cardTitle=" Lucas Montano fala sobre sua experiencia com o front-end"
    photoCover="https://i.ytimg.com/vi/qaVB51nyoKU/maxresdefault.jpg"></app-small-card>
    <app-small-card cardTitle="Quem é o mano deyvin e porque ele quer acabar com o front-end?"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAaax6CFVAB8XVaPMedl4nxU82PWnqjReG_Q&s"></app-small-card>
    <app-small-card cardTitle="O Linkedin seria uma rede social de coach?"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWezjWY5wYYz0-3Dp22hq0HhB00ubuUboFQg&s"></app-small-card>
  </div>

</div>
